body {
	background-color:#404040;
	font-family:sans-serif;
	margin: 0;
}

.setCode {
	/*display:none;/**/
	font-style: italic;
	font-size: .6em;
	display: none;
}

.level {
	/*display:none;/**/
	font-style: italic;
	font-size: .6em;
	display: none;
}

#shareConfig {
	display: none;
}

.listHeader {
	clear:left;
	font-weight:bold;
	text-align:center;
	border-bottom:3px solid black;
	padding-top:10px;
	padding-bottom:6px;
	margin-bottom: 2px;
	background: url("images/hr.png") no-repeat scroll left top transparent;
}

.explanation {
	padding: 0 10px;
	float: left;
	width:250px;
}
.button {
	display:block;
	float:left;
	cursor:pointer;
	margin:3px;
	border-radius: 5px;
	box-shadow: 2px 2px 2px #333;
	padding:5px;
}
.button:active {
	margin: 5px 1px 1px 5px;
	box-shadow: none;
}
.button:hover {
	padding:4px;
	border:1px solid red;
}
#topButtons {
	width: 257px;
	height:40px;
	clear: both;
	margin:auto;
}

#shareConfig, #shareConfigButton {
	margin: auto;
	clear: both;
	/*margin-left:30px*/
}

#shareConfigButton {
	float: none;
	width: 200px
}
#shareConfig {
	width:250px
}

#randomizeButton, #quickd6Button {
	width:125px;
}
.Action {
	color: #fff;
	font-weight: bold;
	background-color: #444;
	text-align: center;
}
#quickd6Button {
	width:100px;
}

.set input, .card select {
	position:absolute;
	left:-100px;
	top:-100px;
}

.gameCard {
	margin:2px;
}

.hidden {
	display:none;
}

#spacerTop, #spacerBottom {
	clear:left;
	float:left;
	width:0;
	height:1px;
}
.container {
	float:left;
	background: url("images/bg-cropped.jpg") repeat scroll 0 0 #E6E4DB;
	margin: 3px;
	min-width:314px; /* Margins add 6 pixels of width */
	max-width:639px;	
	width:100%;
}
.containerHeader {
	height: 100px;
	background: url("images/top-cropped.jpg") no-repeat scroll left top transparent;
}
.containerFooter {
	height: 62px;
	background: url("images/bottom-cropped.jpg") repeat scroll 0 0 transparent;
	clear: both;
}
#copyright {
	font-size:.75em;
	overflow: hidden;
	white-space: nowrap;
	padding-top:45px;
	padding-left: 20px;
}
#log {
	clear: left;
	width:100%;
}

div.option {
	float:left;
	margin:10px;
}

h1 {
	clear:left;
}
.Option, .Key {
	background-color: #fff;
}

.TowersOfRuin {
	background-color: #dca;
}
.Base {
	background-color: #bef;
}
.DoomgateLegion {
	background-color: #bbf;
}
.CavernsOfBane {
	background-color: #b79;
}
.Dragonspire {
	background-color: #bfb;
}
.HeartOfDoom {
	background-color: #ebf;
}
.Promo {
	background-color: #ffb;
}
.ThornwoodSiege {
	background-color: #da2;
}
.WrathOfTheElements {
	background-color: #fdb;
}

.disabled {
	background-color:#999;
	text-decoration:line-through;
}

.required{
	border-bottom:2px solid green;
}

ul {
	list-style-type:none;
	margin:auto;
	padding-left:0;
}

.cardList {
	padding:0 0 20px 0;
	width:100%;
	max-width:200px;
	/*float:left;*/
}

#dungeonTypes, #villageTypes {
	width: 48%;
	display: none;
}
#useSpecialDiseases {
	padding:0 0 20px 0;
	width: 100%;
	max-width:200px;
	float:right;
	clear:right;
}
#dungeonTypes {
	float: left;
}
#villageTypes {
	float: right;
}
.cardList.dungeon {
	float:right;
	clear:right;
}
.cardList.village {
	float: left;
	clear: left;
}
#languageSelector {
	position: absolute;
	top: 0;
	right: 5;
}
#availableLanguages {
	display: none;
	background-color:#ddd;
	color: #000;
	z-index:9999;
	border-radius: 5px;
	padding:5px;
} 
#availableLanguages a {
	color:#000;
	text-decoration: none;
}
#languageSelector:hover #availableLanguages {
	display:block;
	
}
@media print{
	#optionsContainer, #randomizeButton {
		display:none;
	}
	#listContainer {
		width:90%
	}
	.gameCard  {
		border-bottom:1px dotted black
	}
}